# Next.js Public Environment Variables
NEXT_PUBLIC_API_URL="https://learn-with-shahariar-server.vercel.app"
NEXT_PUBLIC_BACKEND_URL="https://learn-with-shahariar-server.vercel.app"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
NEXT_PUBLIC_CURRENCY="usd"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
