# Next.js Environment Variables Example
NEXT_PUBLIC_API_URL="https://learn-with-shahariar-server.vercel.app"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your_clerk_publishable_key_here"
NEXT_PUBLIC_CURRENCY="usd"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="your_stripe_publishable_key_here"
